body{
    background-color: white;
    
}
.parent-div{
    background-color:#4254f5;
    width: 1200px;
    height: 600px;
    position:relative;
    left: 80px;
    top: 20px;   
}

.child-div{
    background-color:white;
    width: 70%;
    height: 70%;
    position: relative;
    left: 170px;
    top: 90px;      
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}
#email_input {
   text-align: center;
   display:block;
   width: 60%;
   margin-left: 150px;
   padding:10px 10px 10px 10px;
}
#password_input{
    text-align: center;
    display:block;
    width: 60%;
    margin-left: 150px;
    margin-top: 30px;
    padding:10px 10px 10px 10px;
 }
#check_box{
    margin-top: 30px;
    margin-left: 150px;
}
#sign_in{
    border: 2px solid black;
    display:block;
    text-transform: uppercase;
    width: 60%;
    margin-left: 150px;
    margin-top: 30px;
    padding:10px 10px 10px 10px;
    background-color: #4254f5;
    text-align: center;
    color:white;
}
#home_page{
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    display:block;
    text-decoration: none;
    text-transform: capitalize;
}


